* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #C0CED1;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
}

.container header {
  width: 100%;
  height: 40px;
  background-color: #071C34;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.container header h2 {
  display: inline-block;
}

.container header a {
  
  
}

.content {
  width: 100%;
  background-color: #C0CED1;
  text-align: center;
}

.content .title-link {
  padding: 50px;
}

.content .facebook-link {
  display: inline-block;
  background-color: #071C34;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  
}
.social h3 {
  margin-top: 10px;
}
.social a {
  display: inline-block;
  background-color: #071C34;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.conclusion {
  margin-top: 40px;
  text-align: center;
   padding-bottom: 30px;
}

.conclusion p {
  font-weight: 300;
}

  
hr {
  height: 2px;
  margin: 10px;
  border: none;
  background-color: #071C34;
}
