* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 50vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C0CED1;
  text-align: center;
}

hr {
  height: 2px;
  margin: 10px;
  border: none;
  background-color: #071C34;
}
div h2 {
  padding-top: 25px;
  padding-bottom: 15px;
  
}
div p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  line-height: 40px;
}
